.socialList {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialList li {
    margin: 0 2rem;
    list-style: none;
}

.socialList svg {
    font-size: 2rem;
    cursor: pointer;
}